html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, h6, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@font-face {
  font-family: sans-serif;
  font-weight: "Normal";
  font-style: "Normal";
  src: url(".eot");
  src: url(".eot?#iefix") format("embedded-opentype"), url(".woff") format("woff"), url(".ttf") format("truetype"), url(".svg#sans-serif") format("svg"); }

html {
  font-size: 100%; }

body {
  background-color: transparent;
  color: #1e1e1e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font: "Normal" 100%/24 sans; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

.big, h1, h2, h3, h4, p, .notes {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  background-color: rgba(255, 208, 90, 0.7); }

.big {
  font-size: 11.08901em;
  font-size: 11.08901rem;
  line-height: 1.21742em;
  line-height: 1.21742;
  margin-bottom: 0.13527em;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 6.85353em;
  font-size: 6.85353rem;
  line-height: 1.31319em;
  line-height: 1.31319;
  margin-bottom: 0.21887em;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 4.2358em;
  font-size: 4.2358rem;
  line-height: 1.4165em;
  line-height: 1.4165;
  margin-bottom: 0.35412em;
  margin-bottom: 1.5rem; }

h3 {
  font-size: 2.61792em;
  font-size: 2.61792rem;
  line-height: 1.71892em;
  line-height: 1.71892;
  margin-bottom: 0.57297em;
  margin-bottom: 1.5rem; }

h4 {
  font-size: 1.618em;
  font-size: 1.618rem;
  line-height: 2.78121em;
  line-height: 2.78121;
  margin-bottom: 0.92707em;
  margin-bottom: 1.5rem; }

p {
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.5em;
  line-height: 1.5;
  margin-bottom: 1.5em;
  margin-bottom: 1.5rem; }

.notes {
  font-size: 0.61805em;
  font-size: 0.61805rem;
  line-height: 1.618em;
  line-height: 1.618;
  margin-bottom: 2.427em;
  margin-bottom: 1.5rem; }
