/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: sans-serif;
  font-weight: Normal;
  font-style: Normal;
  src: url(".eot");
  src: url(".eot?#iefix") format("embedded-opentype"), url(".woff") format("woff"), url(".ttf") format("truetype"), url(".otf") format("opentype"), url(".svg#sans-serif") format("svg"); }

html {
  font-size: 100%; }

body {
  color: #1e1e1e;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font: Normal 100%/1.5 Open Sans; }

.debug {
  font-size: 16rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -moz-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -webkit-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -ms-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig";
  -o-font-feature-settings: "kern" on, "liga" off, "calt" off, "dlig"; }

.big, h1, h2, h3, h4, p, .notes {
  line-height: 1;
  margin-top: 0; }

.big {
  font-size: 11.08901em;
  font-size: 11.08901rem;
  line-height: 1.35269em;
  line-height: 1.35269;
  margin-bottom: 0.13527em;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 6.85353em;
  font-size: 6.85353rem;
  line-height: 1.53206em;
  line-height: 1.53206;
  margin-bottom: 0.21887em;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 4.2358em;
  font-size: 4.2358rem;
  line-height: 1.77062em;
  line-height: 1.77062;
  margin-bottom: 0.35412em;
  margin-bottom: 1.5rem; }

h3 {
  font-size: 2.61792em;
  font-size: 2.61792rem;
  line-height: 2.29189em;
  line-height: 2.29189;
  margin-bottom: 0.57297em;
  margin-bottom: 1.5rem; }

h4 {
  font-size: 1.618em;
  font-size: 1.618rem;
  line-height: 3.70828em;
  line-height: 3.70828;
  margin-bottom: 0.92707em;
  margin-bottom: 1.5rem; }

p {
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.5em;
  line-height: 1.5;
  margin-bottom: 1.5em;
  margin-bottom: 1.5rem; }

.notes {
  font-size: 0.61805em;
  font-size: 0.61805rem;
  line-height: 1.618em;
  line-height: 1.618;
  margin-bottom: 2.427em;
  margin-bottom: 1.5rem; }

/* LAYOUT STYLES */
body {
  text-align: center; }

a {
  color: #d5000d;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  a:hover {
    color: #c5000c; }

#overlay-it {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #ed6866;
  position: fixed;
  top: 23px;
  left: 24px;
  display: inline;
  padding: 12px 18px;
  padding-bottom: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white; }
  #overlay-it:hover {
    background-color: #f18786; }

body > * {
  padding: 7.5em;
  padding-bottom: 8.25em; }

p {
  margin-bottom: 0; }

img {
  max-width: 100%; }

#downloads {
  margin-top: 96px;
  margin-bottom: 24px; }

.install li {
  list-style: none;
  display: inline-block; }
.install + section {
  padding-top: 6em;
  padding-bottom: 7.5em;
  background-color: #fbfbfb; }

/* GENERAL ELEMENT TYPE STYLES */
header {
  color: white;
  background: #ee716f url("../images/fontplate_head_logo.svg") center 120px no-repeat; }

header h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 0;
  margin-top: 84px;
  font-family: Montserrat, sans-serif;
  color: white; }
header h5 {
  font-style: italic; }
header h5,
header dfn {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans", serif; }

a {
  text-decoration: none; }

p a {
  font-weight: 400; }

ul li::before {
  position: absolute;
  color: #EE716F;
  top: 30%; }
ul li img {
  padding-bottom: 24px; }
ul li:first-child {
  margin-right: 36px;
  position: relative; }
  ul li:first-child::before {
    content: '_config';
    left: 38%; }
ul li:last-child {
  margin-left: 36px;
  position: relative; }
  ul li:last-child::before {
    content: '_fontplate';
    left: 31%; }

footer {
  font-size: 13px;
  background-color: #ECF0F1;
  padding-bottom: 7.5em; }
  footer footer a {
    color: #666; }
  footer footer a:hover {
    color: #444; }

a.button {
  line-height: 24px;
  border-radius: 5px;
  background: #556270;
  padding: 24px 36px;
  color: rgba(149, 165, 166, 0.56);
  letter-spacing: 1px;
  font-weight: bold; }
  a.button:hover {
    color: white;
    background: #606f7e; }

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #666;
  #margin-bottom: 30px;
  text-align: left;
  max-width: 750px;
  margin: 0 auto; }

code {
  #background-color: #f2f2f2;
  #border: solid 1px #dddddd;
  #padding: 0 3px; }

pre {
  padding: 48px;
  #background: #303030;
  background-color: #f2f2f2;
  text-shadow: none;
  text-align: left;
  overflow: auto;
  border-radius: 5px;
  color: #556270; }
  pre span {
    color: #b3bbc5; }
  pre var {
    color: #ee716f; }

pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0; }

/* COMMON STYLES */
form {
  background: #f2f2f2;
  padding: 20px; }

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /*header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-top: $lineHeightBase*2px;
    margin-bottom:   $lineHeightBasepx;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }*/
  ul li:first-child {
    margin-right: 0; }
  ul li:last-child {
    margin-left: 0;
    margin-top: 96px; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 580px) and (max-width: 767px) {
  header h2 {
    font-size: 2.61792em;
    font-size: 2.61792rem;
    line-height: 1.71892em;
    line-height: 1.71892; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 579px) {
  header {
    background-position: center 71px; }
    header h2 {
      font-size: 1.618em;
      font-size: 1.618rem;
      line-height: 2.78121em;
      line-height: 2.78121; }

  #overlay-it {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

  body > * {
    padding: 3.75em; } }
